<template lang="pug">
  .header.container.mx-auto.px-6.pt-4(class="lg:pt-3")
    .row.no-gutter.items-center

      // logo
      .column.no-gutter(class="w-4/12 lg:w-2/12").order-1
        nuxt-link(to="/"): img(src="/img/logo.svg" width="124" height="40")

      // search icon on mobile
      .column.no-gutter.text-indigo-600(class="w-6/12 md:hidden md:order-0").order-2
        magnify-icon(
          :size="20"
          @click="isMobileSearchActive = true"
        ).flex.justify-center

      // signin button
      .column.no-gutter(class="w-2/12 md:order-3 lg:w-2/12 lg:order-4").text-right.order-3
        .user-actions
          a(
            @click="$modal.show('auth-modal')"
          ).text-sm.font-semibold.text-indigo-600.cursor-pointer Войти

      // main menu links on desktop and search form on mobile
      template(v-if="!isMobileSearchActive")
        .column.no-gutter.pt-8.pb-0(
          class="w-full md:order-2 md:w-6/12 md:p-0 lg:w-4/12 lg:order-3 lg:h-auto"
          style="height: 82px"
        ).order-4
          .flex.justify-between.text-indigo-600.h-full.items-center
            router-link(
              to="/library"
            ).text-sm.font-semibold Что выбрать
            router-link(
              to="/library"
            ).text-sm.font-semibold Библиотека
            header-dropdown
      template(v-else)
        // mobile search form
        .column.no-gutter.pt-8.pb-0(class="w-full md:hidden").order-4
          input(
            placeholder="Книга или автор"
            class="w-4/5 outline-none focus:border-indigo-400"
          ).rounded-full.border.border-gray-400.px-6.py-3
          span(
            class="w-1/5"
            @click="isMobileSearchActive = false"
          ).inline-block.text-right.text-indigo-600 Отмена

      // desktop search form
      .column.no-gutter.hidden(
        class="md:block md:w-full md:order-4 lg:w-4/12 lg:order-2"
      )
        // TODO: extract universal input component
        input(
          placeholder="Книга или автор"
          class="w-full outline-none focus:border-indigo-400 lg:w-2/3"
        ).rounded-full.border.border-gray-400.px-6.py-2
</template>

<script lang="ts" src="./Header.ts"></script>
