<template lang="pug">
  .features-panel.bg-white.rounded-lg.shadow.p-6
    swiper(:options="swiperOptions" class="lg:hidden")
      swiper-slide(
        v-for="(feat, i) in features"
        :key="`feat${i}`"
      ): feature(:feature="feat")
      .swiper-pagination(slot="pagination")
    .hidden(class="lg:flex").justify-center
      feature(
        v-for="(feat, i) in features"
        :key="`feat${i}`"
        :feature="feat"
        :is-static="true"
      )
    .subscribe-btn.flex.justify-center.py-4
      router-link(
        to="/subscribe"
      ).inline-block.gradient-btn.px-12.py-3.text-md.font-semibold.text-white.rounded-lg 14 дней бесплатно
</template>

<script lang="ts" src="./FeaturesPanel.ts"></script>
