<template lang="pug">
  dropdown(@toggled="onToggle")
    template(#toggler)
      .text-sm.font-semibold.cursor-pointer.flex
        | Подписка
        .icon.transition-transform.duration-300.transform.rotate-0(
          :class="{ 'rotate-180': isOpen }"
        ): chevron-down(:size="20")
    template(#content)
      .bg-white.rounded-lg.shadow-md.px-6.py-3.flex.flex-col
        router-link(
          to="/payment"
        ).text-sm.font-semibold.leading-10.border-b.border-gray-300 Купить подписку
        router-link(
          to="/gift-subscription"
        ).inline-block.text-sm.font-semibold.leading-10.border-b.border-gray-300 Подарить подписку
        router-link(
          to="/gift-code"
        ).inline-block.text-sm.font-semibold.leading-10 Ввести подарочный код
</template>

<script lang="ts" src="./HeaderDropdown.ts"></script>
