<template lang="pug">
  router-link.bookset-card.inline-block.bg-white.rounded-lg.shadow-md.overflow-hidden(
    style="max-width: 240px; height: 275px;"
    v-bind="$attrs"
  )
    .cover(style="width: 240px;"): slot(name="cover")
    .content.flex.flex-col.justify-between.p-3(style="height: 40%;"): slot(name="content")
</template>

<script lang="ts" src="./BooksetCard.ts"></script>
