<template lang="pug">
  panel(to="/bestsellers")
    template(#header)
      .flex.items-center.justify-between
        .font-bold.text-xl.leading-8 Десятки тысяч бесплатных книг
        .text-indigo-600.flex
          div(class="md:inline-block").hidden.leading-8 Все бесплатные книги
          chevron-right-icon(:size="20")
    template(#description)
      p.mb-2 Родная классика и проверенные временем бестселлеры всегда бесплатно
    template(#content)
      swiper(:options="swiperOption")
        swiper-slide(
          v-for="(book, i) in bestsellers"
          :key="`bstslrs${i}`"
          style="width: auto;"
        ).mr-4: book-card(:book="book")
</template>

<script lang="ts" src="./FreeBooksPanel.ts"></script>
