<template lang="pug">
  panel(to="/audio-books")
    template(#header)
      .flex.items-center.justify-between
        .font-bold.text-xl.leading-8 Неудобно читать - слушайте
        .text-indigo-600.flex
          div(class="md:inline-block").hidden.leading-8 Все аудиокниги
          chevron-right-icon(:size="20")
    template(#description)
      p.mb-2 Более 44 000 книг для взрослых и детей
    template(#content)
      swiper(:options="swiperOption")
        swiper-slide(
          v-for="(book, i) in audioBooks"
          :key="`audio${i}`"
          style="width: auto;"
        ).mr-4: book-card(:book="book" :isAudio="true")
</template>

<script lang="ts" src="./AudioBooksPanel.ts"></script>
