<template lang="pug">
  .card.inline-block(style="width: 124px")
    nuxt-link(:to="book.link")
      .cover.rounded-lg.overflow-hidden.shadow.mb-2.relative(
        :style="{ width: '124px', height: isAudio ? '124px' : '196px' }"
      )
        img(
          width="124"
          :height="isAudio ? 124 : 196"
          :alt="imgAlt"
          :src="book.cover"
        )
        .audio-book-label.absolute.bottom-0.right-0.p-1
          img(
            v-if="isAudio"
            width="32"
            height="32"
            src="/img/icons/book-cover-audio.svg"
          )
      .info
        .rating.mb-2
          readonly-rating(:rating="book.rating")
        .name.font-semibold.text-xs.leading-4.mb-1
          clamp-text(autoresize :max-lines="2") {{ book.title }}
        .author.text-xs.text-gray-600 {{ book.author }}
</template>

<script lang="ts" src="./Card.ts"></script>
