<template lang="pug">
  .footer-info
    .container.mx-auto.px-3
      h2.font-semibold.text-lg.mb-3 Читайте и слушайте удобно где угодно
      .row
        .column(class="w-full lg:w-1/2")
          section.mb-4
            h3.font-semibold.mb-2 Новинки, классика и бестселлеры
            p MyBook — самая большая библиотека электронных книг и аудиокниг на русском языке по подписке. Более 200 000 произведений всех жанров в мобильном приложении и на сайте: детективы, фантастика, фэнтези, любовные романы, книги по бизнесу, психологии, для детей, современная и классическая литература. Новинки поступают каждый день — как в книжном магазине, только удобнее. Некоторые электронные книги в библиотеке бесплатны, их можно читать без подписки. Это классические произведения из школьной программы и современная литература начинающих авторов.
          section.mb-4
            h3.font-semibold.mb-2 Любые книги по подписке
            p Все произведения входят в подписки — стандартную или премиум. Оформите премиум, чтобы получить полный доступ к онлайн-библиотеке, или стандарт, чтобы читать только бестселлеры и классику. Можно выбрать подходящий срок подписки: на месяц, три месяца или год. Больше не нужно покупать по одной! Если вам не понравилась книга, вы можете ее бросить без сожаления о потраченных деньгах. Безлимитный доступ к библиотеке позволяет тут же выбрать новую.
          section.mb-4
            h3.font-semibold.mb-2 Вся коллекция — в приложении
            p Мы рады видеть вас на сайте — здесь вы можете читать и слушать книги онлайн. Но удобнее — в приложении. Смартфон всегда под рукой, а значит, с вами все нужные книги. Мобильное приложение для iOS и Android — это ваша коллекция в смартфоне и на планшете. Читать в электронной библиотеке MyBook можно в любой ситуации, даже без сети. Для этого откройте нужную книгу в режиме чтения с включенным интернетом — так она сохранится в память устройства, и в дальнейшем доступ к сети не понадобится. Сохраняйте в свою библиотеку сколько угодно книг.
        .column(class="w-full lg:w-1/2")
          section.mb-4
            h3.font-semibold.mb-2 Ничего не потеряется
            p Сайт mybook.ru и мобильные приложения на ваших устройствах — это единое целое. Вся библиотека и данные о чтении синхронизируются каждую минуту, поэтому начать читать можно на смартфоне по пути на работу, а продолжить — с планшета, сидя дома на диване. При этом заметки, цитаты и закладки — полезное дополнение для вдумчивого читателя — также переносятся. Все важные идеи, емкие фразы и инструкции, которые вы выделите, хранятся в разделе заметок. На сайте доступна выгрузка всех заметок в текстовый документ.
          section.mb-4
            h3.font-semibold.mb-2 Персональная статистика
            p Статистика чтения мотивирует читать больше в течение недели, месяца, года. Каждый день мы фиксируем количество прочитанных страниц, рисуем графики в профиле приложения и отправляем ежемесячную статистику вам на почту. Давно не возвращались к книжке? Пора наверстать упущенное!
          section.mb-4
            h3.font-semibold.mb-2 Рекомендуем хорошие книги
            p Подборки в MyBook — помощники в выборе подходящих произведений по настроению, теме, сезону, популярности или экспертной оценке. Мы отбираем лучшие книги и аудиокниги в нашей электронной библиотеке, чтобы вам не приходилось тратить время на поиски. Рассказываем о лауреатах книжных премий и победителях конкурсов. Подсказываем, что модно, а что малоизвестно, что почитать в отпуске, зимой и летом, в дороге и дома. Большой выбор хороших книг — в разделе «Что выбрать» на сайте и в приложении.
</template>

<script lang="ts" src="./FooterInfo.ts"></script>
