.top-block__container {
  background: url("/img/oval.svg") no-repeat center top/100%;
}

.top-block__picture {
  height: 35vw;
  max-height: 266px;
  background-image: url("/img/girl-horizontal.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/*.top-block__picture {*/
/*  content: '';*/
/*  position: absolute;*/
/*  height: 35vw;*/
/*  top: 45px;*/
/*  width: 552px;*/
/*  max-height: 266px;*/
/*  background-image: url("/img/girl-horizontal.svg");*/
/*  background-repeat: no-repeat;*/
/*  background-size: contain;*/
/*  background-position-x: center;*/
/*}*/
