<template lang="pug">
  .top-block.gradient-blue-1
    .top-block__container(
      class="xl:items-start xl:py-12"
    ).container.mx-auto.p-6.flex.flex-col.items-center.relative

      .xl-picture.absolute.inset-y-0.right-0.items-center(class="hidden w-1/3 xl:flex")
        .top-block__picture.w-full
      .top-block__picture.mb-3(class="w-full xl:hidden")

      .top-block__title(
        class="w-4/5 sm:w-full"
      ).mb-6.text-white.text-center
        h1.text-xl.font-bold(class="sm:text-2xl lg:text-5xl lg:leading-none xl:text-left")
          | MyBook -
          br(class="sm:hidden")
          |  читайте и слушайте
          br
          | по одной подписке

      .top-block__features(
        class="sm:flex-row sm:w-auto sm:justify-between sm:max-w-screen-sm w-4/5 sm:w-full"
      ).flex.flex-col.mb-6

        .feature(
          class="sm:flex-col sm:mr-6"
        ).flex.text-white.mb-4
          bookshelf-icon(
            class="sm:mx-auto sm:mb-4 sm:text-center"
          ).mr-4
          span(class="sm:text-center")
            b.mr-2 153&nbsp;000
            br.hidden(class="sm:block")
            | книг

        .feature(
          class="sm:flex-col sm:mr-6"
        ).flex.text-white.mb-4
          headphones-icon(
            class="sm:mx-auto sm:mb-4 sm:text-center"
          ).mr-4
          span(class="sm:text-center")
            b.mr-2 15&nbsp;000
            br.hidden(class="sm:block")
            | аудиокниг

        .feature(
          class="sm:flex-col sm:mr-6"
        ).flex.text-white.mb-4
          star-outline-icon(
            class="sm:mx-auto sm:mb-4 sm:text-center"
          ).mr-4
          span(class="sm:text-center")
            b.mr-2 +2&nbsp;000
            | новинок
            br.hidden(class="sm:block")
            |  каждый месяц

        .feature(
          class="sm:flex-col sm:mr-6"
        ).flex.text-white.mb-4
          puzzle-outline-icon(
            class="sm:mx-auto sm:mb-4 sm:text-center"
          ).mr-4
          span(class="sm:text-center")
            b.mr-2 Подборки
            br.hidden(class="sm:block")
            | и рекомендации

        .feature(
          class="sm:flex-col sm:mr-6"
        ).flex.text-white.mb-4
          wifi-off-icon(
            class="sm:mx-auto sm:mb-4 sm:text-center"
          ).mr-4
          span(class="sm:text-center")
            b.mr-2 Оффлайн
            br.hidden(class="sm:block")
            | или онлайн

      .top-block__actions.pb-4
        router-link(
          to="/trial"
          class="hover:bg-blue-600"
        ).text-white.rounded-lg.border-2.px-8.py-2.font-bold
          | 14 дней бесплатно
</template>

<script lang="ts" src="./TopBlock.ts"></script>
<style src="./top-block.css" scoped></style>
