// This file contents common colors, gradients and shades
// that should be used across all project

$color = {
  purple: #BC9CFF
  green: #6FCF97
  accent: #F64C56
  white: #fff
  black: #000
}

$gradient = {
  primary: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
  red: linear-gradient(180deg, #FA55AE 0%, #F74C56 100%)
  green: linear-gradient(180deg, #6FCF97 0%, #24D06C 100%)
  gold: linear-gradient(180deg, #F2994A 0%, #F2C94C 100%)
}

$shade = {
  dark-1: #1F2041
  dark-75: rgba(31, 32, 65, 0.75)
  dark-50: rgba(31, 32, 65, 0.5)
  dark-25: rgba(31, 32, 65, 0.25)
  dark-05: rgba(31, 32, 65, 0.05)
}

$shadow = {
  soft: 0px 4px 4px rgba(0, 0, 0, 0.25)
}
