<template lang="pug">
  panel(to="/bestsellers")
    template(#header)
      .flex.items-center.justify-between
        .font-bold.text-xl.leading-8 Бизнес и саморазвитие
        .text-indigo-600.flex
          div(class="md:inline-block").hidden.leading-8 Все бизнес-книги
          chevron-right-icon(:size="20")
    template(#description)
      p.mb-2 Деловая и научно-популярная литература издательств «Манн, Иванов и Фербер», «Альпина Паблишер», «Олимп-Бизнес» и других
      .tags.flex.flex-wrap
        tag(text="Личная эффективность" to="/efficiency").mr-2.mb-3
        tag(text="Маркетинг, PR, реклама" to="/pr").mr-2.mb-3
        tag(text="Менеджмент" to="/management").mr-2.mb-3
        tag(text="Переговоры" to="/conversations").mr-2.mb-3
        tag(text="Продажи" to="/sales").mr-2.mb-3
        tag(text="Тайм-менджмент" to="/time-management").mr-2.mb-3
    template(#content)
      swiper(:options="swiperOption")
        swiper-slide(
          v-for="(book, i) in bestsellers"
          :key="`bstslrs${i}`"
          style="width: auto"
        ).mr-4: book-card(:book="book")
</template>

<script lang="ts" src="./UpdatesPanel.ts"></script>
