<template lang="pug">
  .book.bg-white
    .main-info
      .cover-container.relative
        .img.absolute.w-full.overflow-hidden.top-0.h-full
          .absolute.blured.left-0.top-0
            img(src="/img/mock_books/small/porog.jpg").w-full.h-auto
        .header.w-full
          .container.mx-auto.flex.p-6.pt-4
            .book-info__cover(class="w-1/5").relative.mr-6.cursor-pointer.slide-up-on-hover
              .cover-img.absolute.rounded-lg.overflow-hidden.shadow-lg(class="hover:shadow-2xl").transition.duration-300
                img(src="/img/mock_books/234961e6-05c7-44f5-af1d-a1ce1779ea29.jpg" width="256" height="426")
            .flex.flex-col.z-10
              .title.text-white.text-4xl.font-bold.mb-4 Порог
              .author.py-1.mb-6
                nuxt-link(to="/a/sergey_lukyanenko").text-white.inline-flex.items-center
                  span.inline-block.text-md.mr-2 Сергей Лукьяненко
                  arrow-right-icon(:size="24")
              .labels
                .pro.inline-flex.items-center.bg-white.rounded-lg
                  img(src="/img/icons/pro-subscription.svg" width="32" height="32")
                  span.text-xs.font-semibold.mr-2 Премиум
    .container.mx-auto.p-6
      .book-detail.flex.w-full.mb-8
        .placeholder(class="w-1/5")
        .details.pl-6.flex.justify-between(class="w-4/5")
          .book
            .rating.flex.items-center.mb-2
              readonly-rating(:rating="3.4").mr-3
              .font-bold.text-md.mr-2 3.4
              .text-gray-600.text-xs 154 читателя оценили
            .detail-info.flex.items-center.mb-4
              template(
                v-for="(item, i) in ['320 печ. страниц', '2019 год', '16+']"
              )
                .detail-item.mr-2(:key="`det${i}`")
                  .text-xs {{ item }}
                // FIXME: temp, untill integrate real or mock API
                .dot(v-if="i !== ['320 печ. страниц', '2019 год', '16+'].length - 1").mr-2 ·
            .realated-links.flex.flex-col
              nuxt-link(to="/reader/porog").read.inline-flex.items-center.text-sm.font-semibold.text-indigo-600.mb-2
                book-open-icon(:size="20").mr-2
                span Читать книгу онлайн
              nuxt-link(to="/audio/porog").audio.inline-flex.items-center.text-sm.font-semibold.text-indigo-600
                headphones-icon(:size="20").mr-2
                span.mr-1 Есть аудиоверсия
                arrow-right-icon(:size="20")
          .publishing-house(style="height: 30px;")
            .heading.font-semibold.mb-2 Издатель
            nuxt-link(to="/ph/eksmo").link.text-sm.text-indigo-600.mb-1 Издательство "Эксмо"
            .books-counter.text-xs.text-gray-600 56 книг
            hr.w-full.mt-4.border-gray-500
            .share-btn.text-indigo-600.font-bold.flex.mt-4
              share-icon(:size="20").mr-3
              nuxt-link(to="/share/book") Поделиться
      .subscriptions.flex.pl-6.relative.mb-6
        .placeholder(class="w-1/5")
        .pro(
          class="w-1/5 overflow-hidden"
        ).border.border-gray-500.rounded-lg.slide-up-on-hover.cursor-pointer.shadow-md.bg-white.flex.flex-col.mr-4
          .header.h-full.flex-grow.px-4.py-3.gradient-gold
            .title.font-bold.text-sm.mb-2 По подписке
            .price.font-semibold.text-2xl.mb-3 549 руб. / мес
            .description.text-xs.mb-4 Доступ ко всем книгам и аудиокнигам от 1 месяца
            .label.bg-red-600.text-xs.px-4.py-1.rounded-full.text-center.text-white
              | Первые 14 дней
              .font-semibold.inline &nbsp;бесплатно
          .footer.flex.justify-center.p-5
            nuxt-link(
              to="/subscribe/pro"
            ).flex.px-4.py-3.gradient-blue-1.text-white.font-semibold.rounded-lg Оформить подписку
        .standart(
          class="w-1/5 overflow-hidden"
        ).border.border-gray-500.rounded-lg.slide-up-on-hover.cursor-pointer.shadow-md.bg-white.flex.flex-col.mr-4
          .header.h-full.flex-grow.px-4.py-3.border-b.border-gray-500
            .title.font-bold.text-sm.mb-2 Аренда книги
            .price.font-semibold.text-2xl.mb-3 82 руб.
            .description.text-xs.mb-4 Доступ к этой книге на 14 дней
          .footer.flex.justify-center.p-5
            nuxt-link(
              to="/subscribe/pro"
            ).flex.px-4.py-3.gradient-blue-1.text-white.font-semibold.rounded-lg Взять в аренду
        .rate.absolute
      .mobile-apps.flex.pl-6
        .placeholder(class="w-1/5")
        nuxt-link(
          to="/get-android-app"
          class="w-1/5 hover:bg-indigo-600 hover:text-white"
        ).inline-flex.justify-center.text-indigo-600.border-2.border-indigo-600.rounded-lg.py-3.mr-4
          android-icon
        nuxt-link(
          to="/get-android-app"
          class="w-1/5 hover:bg-indigo-600 hover:text-white"
        ).inline-flex.justify-center.text-indigo-600.border-2.border-indigo-600.rounded-lg.py-3
          apple-icon

    .max-w-screen-md.mx-auto.p-6
      .full-info.pl-3
        h2.font-bold.text-2xl.mb-6 О книге
        .annotation.mb-6
          p.mb-2 Шесть галактических цивилизаций.
          p.mb-2 Пять погибших планет.
          p.mb-2 Четверо учёных из разных миров.
          p.mb-2 Три звёздные системы.
          p.mb-2 Два космических корабля.
          p.mb-2 И одна большая беда для всей Вселенной.
          p.mb-2 Читайте онлайн полную версию книги «Порог» автора Сергея Лукьяненко на сайте электронной библиотеки MyBook.ru. Скачивайте приложения для iOS или Android и читайте «Порог» где угодно даже без интернета.

        h3.font-semibold.mb-6 Подробная информация
        .detail-info.flex.flex-wrap.mb-6
          .item(class="w-1/2").mb-2 Дата написания: 2019
          .item(class="w-1/2").mb-2 ISBN (EAN): 9785171163013
          .item(class="w-1/2").mb-2 Год издания: 2019
          .item(class="w-1/2").mb-2 Дата поступления: 18 марта 2020
          .item(class="w-1/2").mb-2 Объем: 577.2 тыс. знаков
          // .item(class="w-1/2").mb-2 ISBN (EAN): 9785171163013

        h3.font-semibold.mb-6 Жанры
        .genres.flex.mb-6
          tag(text="Космическая фантастика" to="/sci-fi").mr-2
          tag(text="Научная фантастика" to="/sci-fi")

        h3.font-semibold.mb-6 Темы
        .themes.flex.flex-wrap.mb-6
          tag(text="искусственный интеллект" to="/sci-fi").mr-2.mb-2
          tag(text="внеземные цивилизации" to="/sci-fi").mr-2.mb-2
          tag(text="космичские путешествия" to="/sci-fi").mr-2.mb-2
          tag(text="галактические войны" to="/sci-fi").mr-2.mb-2

    .extra.bg-gray-100
      .max-w-screen-md.mx-auto.p-6.px-8

        // part of a series block
        .part-of-series.bg-white.p-4.rounded-lg.mb-6
          h2.font-bold.text-lg Входит в серию
          nuxt-link(to="/series/cosmos-of-segey-lukianenko").inline-block.text-indigo-600.font-semibold.text-sm.mb-4 Космос Сергея Лукьяненко
          swiper(:options="swiperOption")
            swiper-slide(
              style="width: auto;"
              v-for="(book, i) in mockOtherBooksFromSeries"
              :key="`otherser${i}`"
              :class="{ 'self-end': book.isAudio }"
            ).mr-4: book-card(:book="book" :is-audio="book.isAudio")

</template>

<script lang="ts" src="./index.ts"></script>
