<template lang="pug">
  .input.relative
    label(
      v-if="label"
      :for="$attrs.id"
    ).text-sm.mb-2.inline-block {{ label }}
    input(
      :type="inputType"
      :id="$attrs.id"
      class="focus:border-indigo-600"
    ).border.border-gray-400.rounded-lg.w-full.outline-none.p-2
    .reveal-btn.px-2.pr-3.absolute.right-0(
      style="bottom: 8px"
      :class="{ 'text-indigo-600': isPasswordRevealed }"
    )
      eye-icon(
        v-if="passwordReveal && $attrs.type === 'password'"
        @click="isPasswordRevealed = !isPasswordRevealed"
      ).cursor-pointer
</template>

<script lang="ts" src="./BaseInput.ts"></script>
