<template lang="pug">
  .footer.bg-white
    .footer__top.bg-indigo-100
      .container.mx-auto.p-3
        .row
          .about-links.column(class="w-full lg:w-1/2")
            .row.py-3
              .column(class="w-full md:w-1/2 mb-3 md:mb-0")
                h3.font-semibold.mb-2 О проекте MyBook
                ul
                  li.text-sm.text-indigo-600.mb-3(
                    v-for="(link, i) in links.about"
                    :key="`about-link${i}`"
                  ): router-link(:to="link.to") {{ link.name }}
              .column(class="w-full md:w-1/2")
                h3.font-semibold.mb-2 О подписке
                ul
                  li.text-sm.text-indigo-600.mb-3(
                    v-for="(link, i) in links.subscribe"
                    :key="`about-link${i}`"
                  ): router-link(:to="link.to") {{ link.name }}
          .external-links.column(class="w-full lg:w-1/2").px-4.py-3.flex.flex-col.justify-between
              .additional
                h3.font-semibold.mb-2 Дополнительно
                ul
                  li.text-sm.font-semibold.text-indigo-600.mb-3(
                    v-for="(link, i) in links.additional"
                    :key="`about-link${i}`"
                  ): router-link(:to="link.to") {{ link.name }}
              .payment.pt-4
                h3.text-xs.text-gray-600.mb-4 Мы принимаем к оплате
                .payment-systems.flex.items-center
                  .icon.icon--visa.mr-5
                  .icon.icon--mastercard.mr-5
                  .icon.icon--mir.mr-5
                  .icon.icon--paypal
    .footer__bottom.container.mx-auto.p-3.bg-white
      .row.py-3(class="md:py-0")
        .column(class="w-full lg:w-1/2 order-2 lg:order-1").py-4
          .flex.flex-wrap
            .app-list.pt-4.border-t(class="w-full sm:pt-0 sm:border-none md:w-1/3")
              span.mb-3.text-xs.text-gray-600 Скачать приложение
              .icons.text-indigo-600
                a.inline-block.mr-2: apple-icon
                a.inline-block.mr-2: android-debug-bridge-icon
            .social(class="w-full md:w-2/3")
              span.text-xs.text-gray-600 Следите за новостями
                .icons.text-indigo-600
                  a.inline-block.mr-2: facebook-icon
                  a.inline-block.mr-2: vk-icon
                  a.inline-block.mr-2: twitter-icon
                  a.inline-block.mr-2: odnoklassniki-icon
                  a.inline-block.mr-2: instagram-icon
                  a.inline-block.mr-2: youtube-icon
        .column(class="w-full lg:w-1/2 order-1 lg:order-1 lg:self-center")
          .flex.flex-col(class="xl:flex-row xl:items-center")
            span.text-xs.text-gray-600.mb-3(class="sm:mb-1 xl:mr-3 xl:mb-0") Служба поддержки
            .support-links.mb-3.flex.flex-col.items-start(class="sm:items-center lg:mb-0 sm:flex-row")
              a.inline-block.mr-3.text-indigo-600.border.border-indigo-600.rounded-lg.px-12.py-1.text-sm(
                href="tel:88003332211"
                class="mb-2 sm:mb-0"
              ) 8 800 333 2211
              a.text-sm.text-indigo-600(
                href="email:support@mybook.ru"
              ) support@mybook.ru
</template>

<script lang="ts" src="./Footer.ts"></script>
