/* hack: because of purgecss which removes custom colors classes */
.bg-facebook {
  background: #3b5998;
}
.bg-vk {
  background: #4d7299;
}
.bg-google {
  background: #DB3236;
}
.bg-ok {
  background: #ff983a;
}
.bg-twitter {
  background: #00abf8;
}
