.blured {
  transform: scale(1.1);
  filter: blur(10px) brightness(80%);
  width: 100%;
  height: 100%;
}

/*
  Slide up on hover animation
*/
.slide-up-on-hover {
  @apply transform transition duration-300;
}
.slide-up-on-hover:hover {
  @apply -translate-y-3;
}
