.gradient-blue-1 {
  background: #36D1DC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.hover\:gradient-blue-1:hover {
  background: #36D1DC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradient-silver {
  background: #dbeaff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #dbeaff, #f3f8ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #dbeaff, #f3f8ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradient-gold {
  background: #ffe790;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffe790, #fdf1c6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #ffe790, #fdf1c6) /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradient-btn {
  background: -webkit-linear-gradient(to bottom, #5B86E5, #36D1DC);
  background: linear-gradient(to bottom, #5B86E5, #36D1DC);
}
