.icon {
  background-size: cover;
  background-repeat: no-repeat;
}

.icon--visa {
  background-image: url('/img/icons/visa.svg');
  width: 44px;
  height: 14px;
}

.icon--mastercard {
  background-image: url('/img/icons/mastercard.svg');
  width: 31px;
  height: 24px;
}

.icon--mir {
  background-image: url('/img/icons/mir-card.svg');
  width: 58px;
  height: 14px;
}

.icon--paypal {
  background-image: url('/img/icons/paypal.svg');
  width: 66px;
  height: 16px;
}

.icon--books {
  background-image: url('/img/icons/books.svg');
  width: 24px;
  height: 24px;
}
