/* purgecss start ignore */
@import url('swiper/css/swiper.css');
@import url('./modal.css');
@import url('./effects.css');
/**
  =================================
  === vue-material-design-icons ===
  =================================
 */
/**
  Note:
  This file contains bugfix changes for
  vue-material-design-icons library. This changes
  allows us use :size prop correctly.
  {@link https://github.com/robcresswell/vue-material-design-icons/pull/94/files}
 */
.material-design-icon {
  display: flex;
  align-content: space-around;
}
.material-design-icon > .material-design-icon__svg {
  align-self: center;
  fill: currentColor;
}
/* purgecss end ignore */

