<template lang="pug">
  .panel.bg-white.rounded-lg.p-6.shadow
    router-link(:to="$attrs.to || '#'").panel__header.mb-4.block
      slot(name="header")
    .mb-4: slot(name="description")
    slot(name="content")
</template>

<script lang="ts" src="./Panel.ts"></script>
