<template lang="pug">
  .readonly-rating
    .empty-stars: .filled-stars(:style="{ width: `${rating * 16}px` }")
</template>

<script lang="ts" src="./ReadonlyRating.ts"></script>
<style src="./readonly-rating.css" scoped></style>
