.readonly-rating {
  background-size: 16px 16px;
  @apply bg-repeat-x
}

.empty-stars {
  background-image: url('~static/img/icons/gray_star.svg');
  height: 16px;
  width: calc(16px * 5);
}

.filled-stars {
  background-image: url('~static/img/icons/gold_star.svg');
  height: 16px;
  max-width: calc(16px * 5);
}
