<template lang="pug">
  .main-bookset.gradient-blue-1.rounded-lg.shadow.p-6
    .header.flex.w-full.mb-3
      router-link.text-xl.font-bold.text-white(to="/book-sets") Всегда подскажем, что почитать
    .description.mb-4 Подбираем книги по темам и рейтингам, держим в курсе книжных новостей
    swiper(:options="swiperOption")
      swiper-slide(
        v-for="(book, i) in bookset"
        :key="`bookset${i}`"
        style="width: auto;"
      ).mr-4
        bookset-card(:to="book.link")
          template(#cover): img(:src="book.cover")
          template(#content)
            h1.text-sm.font-semibold {{ book.title }}
            p.text-xs.text-gray-600 {{ book.bookCount }} книг
</template>

<script lang="ts" src="./MainBookset.ts"></script>
