<template lang="pug">
  panel(to="/bestsellers")
    template(#header)
      .flex.items-center.justify-between
        .font-bold.text-xl.leading-8 Новинки и бестселлеры
        .text-indigo-600.flex
          div(class="md:inline-block").hidden.leading-8 Все новинки
          chevron-right-icon(:size="20")
    template(#description)
      p.mb-2 Популярные и начинающие авторы, крупнейшие и нишевые издательства
    template(#content)
      swiper(:options="swiperOption")
        swiper-slide(
          style="width: auto;"
          v-for="(book, i) in bestsellers"
          :key="`bstslrs${i}`"
        ).mr-4: book-card(:book="book")
</template>

<script lang="ts" src="./BestsellersPanel.ts"></script>
