<template lang="pug">
  .default.bg-gray-200
    // header
    app-header.mb-3

    // page content
    nuxt

    // footer
    app-footer

    // auth modal
    auth-modal

</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import AppHeader from '~/components/partial/header/Header.vue';
import AppFooter from '~/components/partial/footer/Footer.vue';
import AuthModal from '~/components/modals/auth-modal/AuthModal.vue';

@Component({
  components: {
    AppHeader,
    AppFooter,
    AuthModal
  }
})
export default class DefaultLayout extends Vue {}
</script>
