<template lang="pug">
  .default.bg-gray-200
    // header
    app-header.mb-3
    category-list.px-3

    // page content
    nuxt

    // footer
    app-footer

    // auth modal
    auth-modal
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import FooterInfo from '../components/partial/footer-info/FooterInfo.vue';
import AppHeader from '~/components/partial/header/Header.vue';
import CategoryList from '~/components/partial/category-list/CategoryList.vue';
import AppFooter from '~/components/partial/footer/Footer.vue';
import AuthModal from '~/components/modals/auth-modal/AuthModal.vue';

@Component({
  components: {
    AppHeader,
    AppFooter,
    AuthModal,
    CategoryList,
    FooterInfo
  }
})
export default class DefaultLayout extends Vue {}
</script>
