<template lang="pug">
  .index
    top-block.mb-3
    .container.mx-auto.p-3.mb-8
      bestsellers-panel.mb-4
      updates-panel.mb-4
      free-books-panel.mb-6
      audio-books-panel.mb-6
      features-panel.mb-6
      main-bookset.mb-6
      bottom-block.mb-6
    footer-info.mb-4
</template>

<script lang="ts">
import Vue from 'vue';
import FooterInfo from '~/components/partial/footer-info/FooterInfo.vue';
import TopBlock from '~/components/partial/top-block/TopBlock.vue';
import BestsellersPanel from '~/components/partial/panels/bestsellers/BestsellersPanel.vue';
import UpdatesPanel from '~/components/partial/panels/updates/UpdatesPanel.vue';
import FreeBooksPanel from '~/components/partial/panels/free-books-panel/FreeBooksPanel.vue';
import AudioBooksPanel from '~/components/partial/panels/audio-books-panel/AudioBooksPanel.vue';
import FeaturesPanel from '~/components/partial/panels/features-panel/FeaturesPanel.vue';
import MainBookset from '~/components/partial/panels/main-bookset/MainBookset.vue';
import BottomBlock from '~/components/partial/panels/bottom-block/BottomBlock.vue';

export default Vue.extend({
  components: {
    AudioBooksPanel,
    BestsellersPanel,
    FreeBooksPanel,
    FeaturesPanel,
    FooterInfo,
    MainBookset,
    UpdatesPanel,
    BottomBlock,
    TopBlock
  }
});
</script>
