<template lang="pug">
  modal(
    ref="modal"
    name="auth-modal"
    :adaptive="true"
    height="auto"
    classes="px-6 sm:px-0 md:flex md:justify-center"
    @before-open="beforeOpenHandler"
    @before-close="beforeCloseHandler"
  )
    // modal content
    .content.rounded-lg.bg-white.p-4.relative(class="md:w-1/2")

      // close button
      .close-btn.absolute.top-0.right-0.p-2.text-indigo-600
        a(@click="$modal.hide('auth-modal')").cursor-pointer: close-icon

      // modal title
      .modal__title.font-bold.text-2xl.mb-4(class="md:text-4xl")
        | {{ currentState === stateTypes.LOGIN ? 'Вход' : 'Регистрация' }}

      template(v-if="currentState === stateTypes.LOGIN")
        // signin form
        .modal__form--sign-in
          .email-or-phone.mb-3
            base-input(label="Почта или телефон" id="email" type="email")
          .password.mb-6
            base-input(label="Пароль" id="pass" type="password" :password-reveal="true")
      template(v-else)
        // sign-up form
        .modal__form--sign-up
          .email-or-phone.mb-3
            base-input(label="Ваша электронная почта" id="email" type="email")
          .email-or-phone.mb-6
            base-input.mb-2(label="Пожалуйста, придумайте пароль" id="pass" type="password" :password-reveal="true")
            span.inline-block.text-xs Не менее 8 символов, цифры и буквы

      // list of social networks for signining
      .modal__social-links.mb-3
        .flex.flex-row.flex-wrap.justify-between.-mx-2
          .icon(
            class="w-1/3"
            v-for="(item, i) in socialList"
            :key="`soc${i}`"
          ).px-2.cursor-pointer
            .flex.justify-center.my-1.py-2.rounded-lg.text-white(
              :class="'bg-' + item.color"
            ): component(:is="item.component" :size="18")
          .icon(
            class="w-1/3"
          ).px-2.cursor-pointer
            .flex.justify-center.my-1.py-2.rounded-lg.text-white.bg-litres
              .litres.flex(style="width: 36px; height: 18px"): img(src="/img/icons/litres.svg")

      // submit button
      template(v-if="currentState === stateTypes.LOGIN")
        a.inline-block.bg-indigo-600.text-white.w-full.text-center.px-2.py-3.font-bold.rounded-lg.mb-2.cursor-pointer Войти
      template(v-else)
        a.inline-block.bg-indigo-600.text-white.w-full.text-center.px-2.py-3.font-bold.rounded-lg.mb-2.cursor-pointer Регистрация

      // extra buttons
      .modal__extra-buttons.flex.flex-col
        template(v-if="currentState === stateTypes.LOGIN")
          a.inline-block.bg-transparent.leading-7.text-indigo-600(
            class="border-2 border-indigo-600 hover:bg-indigo-600 hover:text-white"
          ).w-full.text-center.px-2.rounded-lg.mb-2.cursor-pointer Забыл пароль
          a.inline-block.bg-transparent.leading-7.text-indigo-600(
            class="border-2 border-indigo-600 hover:bg-indigo-600 hover:text-white"
            @click="setCurrentState(stateTypes.REGISTER)"
          ).w-full.text-center.px-2.rounded-lg.cursor-pointer Зарегистрироваться
        template(v-else)
          a.inline-block.bg-transparent.leading-7.text-indigo-600(
            @click="setCurrentState(stateTypes.LOGIN)"
            class="border-2 border-indigo-600 hover:bg-indigo-600 hover:text-white"
          ).w-full.text-center.px-2.rounded-lg.mb-2.cursor-pointer Войти
          span.text-sm Регистрируясь, вы принимаете публичную оферту и условия использования MyBook
</template>

<script lang="ts" src="./AuthModal.ts"></script>
<style src="./auth-modal.css" scoped></style>
