<template lang="pug">
  .category-list.pt-4.pb-4
    .container.mx-auto.pl-6.hidden.pb-2(
      class="xl:flex"
    )
      category-card(to="/text-and-audio").mr-3
        template(#icon): headphones-icon(:size="20")
        template(#name) Читай и слушай
      category-card(
        v-for="(cat, i) in categories"
        :key="`cat${i}`"
        :to="cat.link"
      ).text-indigo-600.mr-3
        template(#icon) {{ cat.icon }}
        template(#name) {{ cat.name }}
    .flex(class="xl:hidden")
      swiper(:options="swiperOptions" style="padding: .5rem 0;")
        swiper-slide(style="width: auto;")
          category-card(to="/text-and-audio").mr-3.shadow-md
            template(#icon): headphones-icon(:size="20")
            template(#name) Читай и слушай
        swiper-slide(
          v-for="(cat, i) in categories"
          :key="`cat${i}`"
          style="width: auto;"
        )
          category-card(:to="cat.link").text-indigo-600.mr-3.shadow-md
            template(#icon) {{ cat.icon }}
            template(#name) {{ cat.name }}
</template>

<script lang="ts" src="./CategoryList.ts"></script>
