<template lang="pug">
  router-link.inline-block.bg-transparent.tag.px-1.border-2.border-indigo-600.rounded.cursor-pointer(
    class="hover:bg-indigo-600 hover:text-white font-sans text-sm text-indigo-700 font-semibold leading-5"
    :to="to"
  ) {{ text }}
</template>

<script lang="ts" src="./Tag.ts"></script>
<style lang="stylus" src="./tag.styl" scoped></style>
