<template lang="pug">
  .bottom-block(
    class="md:flex-row md:justify-between"
  ).bg-white.rounded-lg.p-6.shadow-md.flex.items-center.flex-col.overflow-hidden
    .bottom-block__img.w-64.mb-4(
      class="md:order-2 md:w-1/2 md:pl-3 md:h-64 md:flex md:items-center md:justify-end"
    )
      img(src="/img/girl-airplane.svg")
    .bottom-block__info.w-64(
      class="md:order-1 md:w-auto"
    )
      .title(
        class="md:text-left"
      ).font-semibold.text-lg.text-center.w-64.mb-2 Читай и слушай где угодно
      .description(
        class="md:text-left"
      ).text-center.mb-3 Дома и по пути – в удобном приложении даже без интернета
      router-link(
        to="/mobile-app"
        class="hover:bg-indigo-600 hover:text-white"
      ).inline-flex.text-indigo-600.font-semibold.border-2.border-indigo-600.px-6.py-3.rounded-lg
        android-debug-bridge-icon.mr-2
        span.text-sm(class="md:text-md") Читать в приложении
</template>

<script lang="ts" src="./BottomBlock.ts"></script>
