<template lang="pug">
  .dropdown.relative.inline-block(
    v-click-outside="close"
  )
    .dropdown__toggler(
      @click="toggle"
    ).inline-block
      slot(name="toggler")
    .dropdown__content(
      v-if="isOpen"
    )
      slot(name="content")
</template>

<script lang="ts" src="./Dropdown.ts"></script>
<style src="./dropdown.css" scoped></style>
