.dropdown__content {
  min-width: 288px;
  max-width: 288px;
  position: absolute;
  top: 30px;
  left: -90px;
  z-index: 99;
}

@media (max-width: 768px){
  .dropdown__content {
    right: 0;
    left: initial;
  }
}
