<template lang="pug">
  .feature.flex(
    class="flex-col items-center md:justify-center"
    :class="{ 'md:flex-row': !isStatic }"
  ).pb-10
    .feature__img
      img(:src="feature.img" width="294" height="294")
    .feature__info
      .title.font-semibold.text-lg.text-center.w-64.mb-4(
        :class="{ 'md:text-left': !isStatic }"
      ) {{ feature.title }}
      .desc.text-center.w-64(
        :class="{ 'md:text-left': !isStatic }"
      ) {{ feature.description }}
</template>

<script lang="ts" src="./Feature.ts"></script>
