<template lang="pug">
  router-link(v-bind="$attrs").category-card.bg-white.rounded-lg.p-3.inline-flex.items-center
    span.category-card__icon.mr-1
      slot(name="icon")
    span.category-card__name.text-indigo-600
      slot(name="name")
</template>

<script lang="ts" src="./CategoryCard.ts"></script>
